.places {
  margin: 0 auto;
  margin-bottom: 92px;
  max-width: calc(100% - 100px*2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1279px) {
  .places {
    max-width: calc(100% - 96px);
  }
}

@media screen and (max-width: 1023px) {
  .places {
    margin-bottom: 90px;
    max-width: calc(100% - 48px);
  }
}

@media screen and (max-width: 767px) {
  .places {
    margin-bottom: 66px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
