@media screen and (max-width: 539px) {
  .page__container {
    padding: 16px 0 24px 0;
  }

  .header {
    max-width: calc(100% - 32px);
    max-height: 42px;
  }

  .header__logo {
    max-width: 142px;
    max-height: 42px;
  }

  .content {
    padding-top: 48px;
  }

  .lead {
    max-width: 100%;
  }

  .lead__title {
    margin-bottom: 16px;
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }

  .lead__subtitle {
    margin-bottom: 40px;
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
  }

  .lead__caption {
    margin-left: 16px;
  }

  .intro {
    margin: 0 auto;
    margin-bottom: 64px;
    max-width: calc(100% - 32px);
    flex-wrap: wrap;
  }

  .intro__title {
    margin-bottom: 40px;
    font-size: 32px;
    line-height: 35px;
  }

  .intro__text {
    margin-bottom: 34px;
  }

  .photo-grid {
    margin-bottom: 64px;
    max-width: calc(100% - 32px);
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
  }

  .places {
    margin-bottom: 66px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .place {
    margin-bottom: 50px;
    max-width: 100%;
    gap: 32px;
    grid-template-areas:
    "place-title"
    "place-website"
    "place-image"
    "place-text"
    ;
    grid-template-columns: minmax(min-content, max-content);
    grid-template-rows: repeat(auto-fit, minmax(35px, max-content));
    font-family: Inter;
    color: #fff;
  }

  .place__title {
    margin: 0 16px;
    max-width: 288px;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
  }

  .place__website {
    margin: 0 16px;
    max-width: 288px;
    grid-area: place-website;
    align-self: start;
  }

  .place__text {
    margin: 0 16px;
  }

  .place__paragraph {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 26.08px;
  }

  .cover {
    margin-bottom: 64px;
  }

  .cover__overlay {
    padding: 33px 0;
    max-height: 200px;
  }

  .cover__title {
    margin-bottom: 16px;
    max-width: 288px;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
  }

  .cover__subtitle {
    max-width: 288px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }

  .footer {
    margin-left: 16px;
    max-width: 220px;
    max-height: max-content;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer__menu {
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .footer__link {
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 24px;
    text-align: left;
    text-decoration: none;
    color: #fff;
  }

  .footer__copyright {
    font-size: 14px;
    line-height: 14px;
    text-align: left;
  }

}
