.place__paragraph {
  margin: 0;
  margin-bottom: 26px;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 29.34px;
  text-align: left;
  text-decoration: none;
}

.place__paragraph:last-of-type {
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 26.08px;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 26.08px;
  }
}
